<% def mobile_device?
  if session[:mobile_param]
    session[:mobile_param] == "1"
  else
    request.user_agent =~ /Mobile|webOS/
  end
end %>
<div class="panel">
  <div id="picture-panel" style='background: url("/portraits/title.png") no-repeat top center fixed;'></div>
</div>
<div class="panel" style= "color: white; background-color: #428096;">
  <br>
  <br>
  <h2 class="text-center">Team</h2>
  <br>
  <% if mobile_device? %>
    <%= render "layouts/partials/mobile_team_carosel" %>
  <% else %>
    <%= render "layouts/partials/desktop_team_carosel" %>
  <% end %>
</div>
<br>
<br>
<div class="panel" style="background-color: #FFF">
  <br>
  <br>
  <div class="card">
    <div class="container">
      <br>
      <br>
      <h2>Project Description</h2>
      <p style="text-align: justify;">
        The Curse of the Glitchitaur is a Virtual Reality game that puts the user
        the hear of a Tron-Like maze. This is no ordinary maze, it is guarded by the
        Glitchitaur. The Glitchitaur is a huge, menacing beast that patrols the maze
        looking for players. The goal of the game? Try to find the key hidden in the
        map and bring it to your players door to get out. Do this before time runs
        out, and before you lose all your lives and you win!
        <br><br>
        Do <b>you</b> have what it takes to take on the Glitchitaur and make it out alive?
        <br><br>
        The Curse of the Glitchitaur runs on any Android phone that has the
        specifications to run Virtual Reality, and runs within any Virtual
        Reality hardware. The game was built on Unity and implements Dr.
        Folmer's VR Step program to incorporate movement through body movements.
        This creates a fully immersive experience that delivers the user into the
        game. Built on Google Dreamweaver, it full incoproates the users head
        movement to change the camera within the game.
        <br><br>
        What this game delivers, more that any other VR application on the market, is the
        integration of networking within the program. This allows players to play together within an android VR application. VR appliocations currently on the market only showcase the potential of VR, but don't allow other players to play with eachother. This capability is only seen in the larger, dedicated VR hardware markets such as the Occulus Rift. With the release of this program, we hope to start the movement of the market towards more interconnected applications.
        <br><br>
        With further iterations of this game, we want to add in  eventually add a few more features that will really polish off the game. For example, having voice chat enabled between players would allow the users to better cooperate to get through the game. Also, the inclusion of better AI would make the game more challenging and terrifying at the same time. We would like to update our graphics to add a more polished feeling to the game, as well as add more interesting mechanics to the map such as jumping over obstacles.
        <br><br> 
      </p>
    </div>
    <br>
    <br>
  </div>
  <br>
  <br>
</div>
