<div class="panel">
  <div id="picture-panel" style='background: url("/portraits/title.png") no-repeat top center fixed;'></div>
</div>
<div class="panel" style= "color: white; background-color: #428096;">
    <h2 class="text-center">Team</h2>
    <div class="container" style="color:black;">
    <div class="row">
      <div class="col-md-6 card">
        <h3 class="text-center">Austin Turner</h3>
        <div class="row">
          <%= image_tag("/portraits/austin.png", class:"col-md-8 offset-md-2", width: 300, height: 300)%>
        </div>
        <div class="card portfolio-card">
          <p style="text-align: justify;" class="col-md-10 offset-md-1">Austin Turner is a Junior at the University of Nevada, Reno and is a web developer for a local startup called Dringo. Austin was the team leader for the project, and was responsible for setting up the project and handled the networking. Once he graduates, he wants to seek a career in Cyber Security.</p>
        </div>
      </div>
      <div class="col-md-6 card">
        <h3 class="text-center">Erika Manning</h3>
        <div class="row">
          <%= image_tag("/portraits/erika.png", class:"col-md-8 offset-md-2", width: 300, height: 300)%>
        </div>
        <div class="card portfolio-card">
          <p style="text-align: justify;" class="col-md-10 offset-md-1">Erika Manning is a Senior at the University of Nevada, Reno majoring in Computer Science and Engineering. During her time at the university, Erika has founded and held leadership positions in several university student organizations such as the Association for Computing and Machinery, where she currently works on cooperative university and community projects as the Director of Fundraising. Interested in education, Erika spent her Junior summer directing and teaching a core C++ programming class at the university, and hopes to use this experience to assist her in her future involvement in education. Professionally, Erika hopes to build a career in application and web development.</p>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 card">
        <h3 class="text-center">Helen Medrano</h3>
        <div class="row">
          <%= image_tag("/portraits/helen.png", class:"col-md-8 offset-md-2", width: 300, height: 300)%>
        </div>
        <div class="card portfolio-card">
          <p style="text-align: justify;" class="col-md-10 offset-md-1">Austin Turner is a Junior at the University of Nevada, Reno and is a web developer for a local startup called Dringo. Austin was the team leader for the project and helped to setup the project and handled the networking side. Once he graduates, he wants to seek a career in Cyber Security.</p>
        </div>
      </div>
      <div class="col-md-6 card">
        <h3 class="text-center">Mitch Reyes</h3>
        <div class="row">
          <%= image_tag("/portraits/mitch.png", class: "col-md-8 offset-md-2", width: 300, height: 300) %>
        </div>
        <div class="card portfolio-card">
          <p style="text-align: justify;" class="col-md-10 offset-md-1">Austin Turner is a Junior at the University of Nevada, Reno and is a web developer for a local startup called Dringo. Austin was the team leader for the project, and was responsible for setting up the project and handled the networking. Once he graduates, he wants to seek a career in Cyber Security.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel">

</div>
