<% def mobile_device?
  if session[:mobile_param]
    session[:mobile_param] == "1"
  else
    request.user_agent =~ /Mobile|webOS/
  end
end %>
<div class="panel">
  <div id="picture-panel" style='background: url("/portraits/title.png") no-repeat top center fixed;'></div>
</div>
<div class="panel" style= "color: white; background-color: #428096;">
  <h2 class="text-center">Team</h2>
  <br>
  <% if mobile_device? %>
    <%= render "layouts/partials/mobile_team_carosel" %>
  <% else %>
    <%= render "layouts/partials/desktop_team_carosel" %>
  <% end %>
</div>
<div class="panel">

</div>
