<div class="panel">
  <div id="picture-panel" style='background: url("http://www.publicdomainpictures.net/pictures/140000/velka/group-of-people-standing.jpg") no-repeat top center fixed;'>
    <div class="card">
      <h1 class="text-center" style= "color: black;">Curse of the Glitchitaur!</h1>
       <div style="font-size: 6pt;" class="text-center">CS 426 Senior Project in Computer Science, Spring 2017, at UNR/CSE Department</div>
    </div>
   </div>
</div>
<div class="panel container" style= "color: black;">
  <h2 class="text-center">Team</h2>
  <div class="row">
    <div class="col-md-5 card">
      <h3 class="text-center">Austin Turner</h3>
      <div class="row">
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAcDAAAAJDEyNTJkOWI5LTIzMzItNDQ3YS1iODdjLTYzNWNkNDI4MWU5YQ.jpg" alt="" class="col-md-10 offset-md-1">
      </div>
    </div>
    <div class="col-md-5 offset-md-2 card">
      <h3 class="text-center">Erika Manning</h3>
      <div class="row">
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAcDAAAAJDEyNTJkOWI5LTIzMzItNDQ3YS1iODdjLTYzNWNkNDI4MWU5YQ.jpg" alt="" class="col-md-10 offset-md-1">
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-5 card">
      <h3 class="text-center">Helen Medrano</h3>
      <div class="row">
        <%= image_tag("/portraits/helen.png", class:"col-md-10 offset-md-1")%>
      </div>
    </div>
    <div class="col-md-5 offset-md-2 card">
      <h3 class="text-center">Mitch Reyes</h3>
      <div class="row">
        <%= image_tag("/portraits/mitch.png", class: "col-md-10 offset-md-1") %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="panel">

</div>
