<div id="mobileAdvisorsCarosel" class="carousel slide" data-ride="carousel" style="color: black;">
  <div id="mobileAdvisorsCaroselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#mobileAdvisorsCaroselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#mobileAdvisorsCaroselIndicators" data-slide-to="1"></li>
      <li data-target="#mobileAdvisorsCaroselIndicators" data-slide-to="2"></li>
    </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="col-md-8 offset-md-2 card advisor-card-mobile">
        <h3 class="text-center">Eelke Folmer</h3>
        <br>
        <div class="row">
          <%= image_tag("/portraits/folmer.jpg", class:"col-md-8 offset-md-2 portrait-height-mobile")%>
        </div>
        <div class="container">
          <p style="text-align: justify; font-size: 18px;" class="col-md-10 offset-md-1">
            <br>
            <b>Eelke Folmer</b> advised the team on VR, including giving tips on how to approach it.
            Eelke also gave a free license to the team to use the software he
            wrote called VR step. Eelke monitored the teams progress and gave
            advice on gameplay and mechanics when needed.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-8 offset-md-2 card advisor-card-mobile">
        <h3 class="text-center">Shamik Sengupta</h3>
        <br>
        <div class="row">
          <%= image_tag("/portraits/sengupta.jpg", class:"col-md-8 offset-md-2 portrait-height-mobile")%>
        </div>
        <div class="container">
          <p style="text-align: justify; font-size: 18px;" class="col-md-10 offset-md-1">
            <br>
            <b>Shamik Sengupta</b> taught classes to the team members on
            networking principles. Shamik also advised the team on how to handle
            managing the networking for multiple users for this project.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-8 offset-md-2 card advisor-card-mobile">
        <h3 class="text-center">Richard Lyday</h3>
        <br>
        <div class="row">
          <%= image_tag("/portraits/lyday.jpg", class: "col-md-8 offset-md-2 portrait-height-mobile") %>
        </div>
        <div class="container">
          <p style="text-align: justify; font-size: 18px;" class="col-md-10 offset-md-1">
            <br>
            <b>Richard Lyday</b> owns a company that does game development in
            Unity. He advised the team on best Unity practices and gave help
            when needed to get the program to work through syntax.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <a class="carousel-control-prev" href="#mobileAdvisorsCaroselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#mobileAdvisorsCaroselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
